body{
    background-color: #e6e4e4;
    color: #121212;
    font-family: sans-serif;
}

h2{
    font-size: medium;
}

img{
    margin: auto;
    width: 20%;
    height: 100%;

}

div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}